[tron]
tronHost = localhost
tronCmdrPort = 6093

[seqno]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/ginga

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = localhost
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9979

rootDir=/home/arnaud/data/pfs

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/seqno
baseLevel = 20
cmdLevel = 20
ioLevel = 20
dispatchLevel = 30
consoleLevel = 20

